*.img
*.pyc
*.xz
.*.swp
Makefile
Makefile.in
__pycache__/
aclocal.m4
autom4te.cache/
config.log
config.status
configure
initrd
install-sh
installenv/
missing
org.clearlinux.native*
repos/
test/
test-log
