[Unit]
Description=ister graphical installer

[Service]
Type=oneshot
ExecStart=/usr/bin/expect /usr/bin/maninstall.expect
ExecStartPost=/usr/sbin/poweroff
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
