[Unit]
Description=ister graphical installer

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/python3 /usr/bin/ister_gui.py && /usr/sbin/reboot'
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
