[Unit]
Description=ister graphical installer

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/python3 /usr/bin/ister.py && /usr/sbin/reboot'

[Install]
WantedBy=multi-user.target
