[Unit]
Description=ister installer

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/bin/ister.py
ExecStartPost=/usr/sbin/poweroff

[Install]
WantedBy=multi-user.target
